@model ThreePage.Models.Department

<tr>
    <td>@Model.Name</td>
  
    <td>@Model.Location</td>
    <td>@Model.EmployeeCount</td>
    <td><a asp-page="Employee/EmployeeList" asp-route-employeeId="@Model.Id">查看部门人员</a></td>
</tr>